<!-- app/views/home/index.html.erb -->
<!doctype html>
<html lang="ko">
  <head>
    <title>Stay PortFolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


</html>
